<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primary Unit</title>
</head>
<body>
    <main>
        {{ with .Site.GetPage "section" "posts" }}
        {{ range .Pages.GroupByDate "2006" }}
        <h3>{{ .Key }}</h3>
        <ul class="archive-list mute-links">
        {{ range .Pages }}
            <li class="archive-item">
                <a class="archive-link" href="{{ .Permalink }}">
                <time class="archive-date" datetime='{{ .Date.Format "2006-01-02T15:04:05-0700" }}'>{{ .Date.Format "2006-01-02" }}</time>
                <span class="archive-title">{{ .Title }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </main>
</body>


</html>
