@charset "utf-8";

:root {
  --grey: #607080;
  --grey10: #eff0f2;
  --grey5: #f7f8f9;

  --blue: #1369bf;
  --blue10: #e7eff8;

  --purple: #7436b3;

  --lineSpace: 1.75rem; /* text size * line height */
  --halfLine: calc(var(--lineSpace) / 2);
  --quarterLine: calc(var(--lineSpace) / 4);
  --bigGap: calc(var(--lineSpace) * 2);
  --paragraphWidth: 40rem;  /* 640 */
  --wrapperWidth: 50rem;    /* 800 */

  --huge: 1.75rem;    /* h2 -- also h1, but h1 only used for the site title */
  --big: 1.5625rem;    /* h3 */
  --medium: 1.375rem;   /* h4 */
  --text: 1.125rem;   /* p */
  --small: 0.875rem;  /* code */

  --bodyFonts: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell,
               "Fira Sans", "Droid Sans", "Helvetica Neue",
               Helvetica, sans-serif;
  --monospace: 'Source Code Pro', 'Consolas', 'Menlo', 'Monaco', monospace;
}

/*! BASIC SETTINGS AND STRUCTURE */

body {
  background-color: var(--grey5);
  font-family: var(--bodyFonts);
  font-size: var(--text);
  font-style: normal;
  font-weight: 400;
  line-height: 1.55555;
  letter-spacing: 0.01rem;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--wrapperWidth);
  padding: var(--lineSpace) var(--halfLine);
}

/*! HEADINGS */
/* h1 is only ever used for the site title, which has a specific style */

h2,
h3,
h4 {
  margin: 0 0 var(--lineSpace);
}

h2 {
  font-size: var(--huge);
}

h3 {
  font-size: var(--big);
}

h4 {
  font-size: var(--medium);
}

/*! BASIC ELEMENTS */

blockquote,
figure,
p,
pre,
table,
caption,
dl,
ol,
ul,
div.highlight {
  margin-bottom: var(--lineSpace);
}

blockquote,
pre,
div.highlight {
  background-color: var(--grey10);
  padding: var(--halfLine);
}

blockquote {
  font-style: italic;
}

blockquote em,
blockquote i {
  font-style: normal;
}

blockquote p:last-child {
  margin-bottom: 0;
}

figcaption {
  font-style: italic;
}

hr {
  border: none;
  border-top: 1px solid var(--grey);
  margin: var(--lineSpace) 0;
}

img,
video {
  border: 1px solid var(--grey);
  height: auto;               /* Prevent horizontal squishing */
  max-width: 100%;
}

pre {
  overflow-x: auto;  /* auto not scroll to hide unneeded scrollbars */
}

/*! LISTS */

dl,
ol,
ul {
  margin-bottom: var(--lineSpace);
}

ol,
ul {
  list-style-position: outside;
  padding-left: var(--lineSpace);
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

/*! LINKS */

a:link {
  color: var(--blue);
  text-decoration: underline;
}

a:visited {
  color: var(--purple);
}

a:focus,
a:hover,
a:active {
  background-color: var(--blue10);
}

/*! PHRASING ELEMENTS (extra text styles) */

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

.syntax,
code,
small {
  font-size: var(--small);
}

.syntax,
code {
  font-family: var(--monospace);
}

code,
small {
  line-height: 1;  /* Prevent height of content box exceeding p line-height */
}

small {
  color: var(--grey);
}

/*!  TABLES                   */

table {
  width: 100%;
}

.table-container {
  /* Scroll the table horizontally when it’s too wide for the container
     Apply this class to an enclosing div. */
  overflow-x: auto;
}

caption {
  font-style: italic;
}

thead {
  border-bottom: 1px solid var(--grey);
}

tfoot {
  border-top: 1px solid var(--grey);
}

th,
td {
  width: auto;
  padding: var(--halfLine);
  overflow: auto;
  text-align: left;
}

th {
  background-color: var(--grey10);
  font-weight: bold;
}

.table-figures {
  text-align: right;
  font-family: var(--monospace);
}

/*! SITE HEADER */

.site-header {
  border-left: var(--quarterLine) solid var(--blue);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--lineSpace);
  padding-left: var(--quarterLine);
}

.site-title-container {
  flex-shrink: 0;
  margin-right: var(--lineSpace);
  max-width: 100%;      /* Prevent title from spilling out */
}

.site-title {
  font-size: var(--huge);
  line-height: var(--huge);
  margin-bottom: 0;
}

.site-byline {
  margin-bottom: 0;
}

.site-links {
  color: var(--grey);
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

/*! SITE FOOTER */

.site-footer {
  margin-top: var(--bigGap);
}

/*! ARTICLES */

article {
  border-bottom: 1px solid var(--grey);
  margin-bottom: var(--bigGap);
}

article:last-of-type {
  border-bottom: none;
}

article header {
  margin-bottom: var(--lineSpace);
}

article header h2 {
  margin-bottom: 0;
}

article header time {
  color: var(--grey);
}

article p {
  max-width: var(--paragraphWidth);
}

article li {
  margin-bottom: var(--halfLine);
  max-width: calc(var(--paragraphWidth) - var(--lineSpace));  /* p max-width - ol/ul padding-left */
}

/*! ARCHIVES */

.archive-date {
  color: var(--grey);
  font-family: var(--monospace);
  font-size: var(--small);
  min-width: 6rem;  /* This is to prevent the browser breaking the
                      date at the hyphens when it’s short on space */
  margin-right: var(--halfLine);
}

.archive-item {
  margin-bottom: var(--halfLine);
}

.archive-link {
  align-items: baseline;
  display: flex;
}

.archive-list {
  padding-left: 0;
  list-style-type: none;
}

/*! FLAGS */

.flag {
  background-color: var(--blue10);
  border-left: var(--quarterLine) solid var(--blue);
  margin-bottom: var(--lineSpace);
  padding: var(--halfLine) var(--quarterLine);
}

.flag :last-child {
  margin-bottom: 0;
}

/*! MODIFIER CLASSES     */

.full-width {
  max-width: 100%;
}

.mute-links a {
  text-decoration: none;
  color: inherit;
}

.no-border {
  border: 0;
}

/* Swap img max-width resizing for scroll */
/* Place on the img's container */
.no-squish {
  overflow: auto;
}
.no-squish img {
  max-width: none;
}

/*! MEDIA QUERY: Mid-sized screens */

@media screen and (min-width: 40rem) {
  /* Enable floating modifier classes */
  .pull-left {
    float: left;
    clear: left;
    margin-right: var(--halfLine);
  }

  .pull-right {
    float: right;
    clear: right;
    margin-left: var(--halfLine);
  }

  .pull-left img,
  .pull-right img {
    display: block;
    margin-bottom: var(--lineSpace);
  }
}
