{{ define "main" }}
    <article>
      <header>
        <h2 class="mute-links"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ with .Date }}
        <p><time datetime='{{ .Format "2006-01-02T15:04:05-0700" }}'>{{ .Format "Monday, January 2 2006" }}</time></p>
        {{ end }}
      </header>
      {{ .Content }}
    </article>
    {{ with .Params.includesmaths -}}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{- end }}
{{ end }}
