  <header class="site-header">

    <div class="site-title-container mute-links">
      <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <p class="site-byline"><i>by</i> Rob Wells</p>
    </div>

    <div class="site-menu-container">

      <nav id="site-nav">
        <ul class="site-links mute-links">
          <li><a href="/about/">About</a></li>
          <li><a href="/books/">Books I’ve read</a></li>
          <li>
            Feed:
            {{ with .Site.Home.OutputFormats.Get "jsonfeed"}}<a href="{{ .Permalink }}">JSON</a>{{ end }},
            {{ with .Site.Home.OutputFormats.Get "rss"}}<a href="{{ .Permalink }}">RSS</a>{{ end }}
          </li>
        </ul>
      </nav>

    </div> <!-- .site-menu-container -->

  </header> <!-- .site-header -->
