<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title}} – {{ .Title }} </title>

  <!-- Load my combined stylesheet -->
  <link rel="stylesheet" href="https://www.robjwells.com/resources/all.min.css">
  <!--<link rel="stylesheet" href="/resources/all.min.css">-->

  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/">

  <link rel="alternate" type="application/rss+xml" title="RSS feed for Primary Unit" href="/rss">
  <link rel="alternate" type="application/json" title="JSON feed for Primary Unit" href="/feed.json">

  <!-- Apple pinned sites icon, Apple touch icon, Favicon -->
  <link rel="mask-icon" href="/resources/favicon.svg" color="#1369BF">
  <link rel="apple-touch-icon-precomposed" href="/resources/favicon.png">
  <link rel="icon" href="/resources/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.Description }}">
</head>
