  <header class="site-header">

    <div class="site-title-container mute-links">
      <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <p class="site-byline"><i>by</i> Rob Wells</p>
    </div>

    <div class="site-menu-container">

      <nav id="site-nav">
        <ul class="site-links mute-links">
          <li><a href="/about/">About</a></li>
          <li>Feed: <a href="/feed.json">JSON</a>, <a href="/rss.xml">RSS</a></li>
        </ul>
      </nav>

    </div> <!-- .site-menu-container -->

  </header> <!-- .site-header -->
