{% extends 'base.html' %}

{% block title %}{{ super() }}Archives{% endblock %}

{% block content %}
  <h1>Archives</h1>
    {% for group in content|groupby('date.year')|sort(reverse=True) %}
    <h2>{{ group.grouper }}</h2>
    <ul class="archive-list mute-links">
    {% for post in group.list|sort(reverse=True) %}
      <li class="archive-item">
        <a class="archive-link" href="{{ post.url }}">
          <time datetime="{{ post.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}" class="archive-date">{{ post.date.strftime('%Y-%m-%d') }}</time>
          <span class="archive-title">{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
