<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- Load my combined stylesheet -->
  <link rel="stylesheet" href="/resources/all.min.css">

{% block script %}{% endblock %}

  <link rel="license" href="https://creativecommons.org/licenses/by/4.0/">

  <link rel="alternate" type="application/rss+xml" title="RSS feed for Primary Unit" href="/rss">
  <link rel="alternate" type="application/json" title="JSON feed for Primary Unit" href="/feed.json">

  <!-- Apple pinned sites icon, Apple touch icon, Favicon -->
  <link rel="mask-icon" href="/resources/favicon.svg" color="#1369BF">
  <link rel="apple-touch-icon-precomposed" href="/resources/favicon.png">
  <link rel="icon" href="/resources/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ settings['site']['description'] }}">
</head>

<body>

<div class="wrapper">

<header class="site-header">

  <div class="site-title-container mute-links">
    <h1 class="site-title"><a href="{{ settings['site']['url'] }}">{{ settings['site']['title'] }}</a></h1>
    <p class="site-byline"><i>by</i> Rob Wells</p>
  </div>

  <div class="site-menu-container">

    <nav id="site-nav">
      <ul class="site-links mute-links">
        <li><a href="/about/">About</a></li>
        <li><a href="/archives/">Archives</a></li>
        <li><a href="/feed.json">JSON&nbsp;feed</a></li>
        <li><a href="/rss">RSS&nbsp;feed</a></li>
      </ul>
    </nav>

    <label for="search-field" class="site-search-label">
      Site search
    </label>
    <form id="site-search" class="site-search" method="get" action="https://duckduckgo.com/">
      <input name="q" type="text" id="search-field" class="search-field" placeholder="via DuckDuckGo">
      <input name="sites" value="{{ settings['site']['url'] }}" hidden>
      <button type="submit" class="search-button">Search</button>
    </form>

  </div> <!-- .site-menu-container -->

</header> <!-- .site-header -->

<main role="main">

{% block content %}{% endblock %}

</main>

<footer class="site-footer">
  <small class="mute-links">
    This work is licensed under a
    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International License</a>.
  </small>
</footer> <!-- .site-footer -->

</div> <!-- .wrapper -->

</body>

</html>
