{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title -%}
  {{ macros.maketitle('page ' + content.page_number|string, is_index=True) }}
{%- endblock %}

{% block content %}
{% for post in content %}
  {{ macros.makearticle(post) }}
{% endfor %}
  <div class="pagination">
    {% if content.older_index_url %}<p class="pagination-older"><a href="{{ content.older_index_url }}">Older posts</a></p>{% endif %}
    {% if content.newer_index_url %}<p class="pagination-newer"><a href="{{ content.newer_index_url }}">Newer posts</a></p>{% endif %}
  </div>
{% endblock %}
