{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}{{ macros.maketitle(content.title) }}{% endblock %}

{% block content %}
  <article>
    <header>
      <h1 class="mute-links"><a href="{{ content.url }}">{{ content.title }}</a></h1>
      {% if content.date %}
      <p><time datetime="{{ content.date.strftime('%Y-%m-%dT%H:%M') }}">{{ content.date.strftime('%A, %B %-d %Y') }}</time></p>
      {% endif %}
    </header>
    {{ content.html }}
  </article>
{% endblock %}
